.example-card {
    max-width: 100%;
    height: 60%;
  }
  
  .example-header-image {
    background-image: url('/assets/user_default.jpg');
    background-size: cover;
  }
.main-wrapper{
    height: 100%;
    width: 100%;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    
   
  
  }

  // ELEVATION

  .effect8
  {
      position:relative;
      box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }
  .effect8:before, .effect8:after
  {
      content:"";
      position:absolute; 
      z-index:-1;
      box-shadow:0 0 20px rgba(0,0,0,0.8);
      top:10px;
      bottom:10px;
      left:0;
      right:0;
      border-radius:100px / 10px;
  } 
  .effect8:after
  {
      right:10px; 
      left:auto; 
      transform:skew(8deg) rotate(3deg);
  } 
 
  .fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    width: 100%;
    height: 100%
}