<div class="container" style="height: 100vh;">
  <div class="row" style="margin-bottom: 3px;">
    <div class="col-md-2 offset-md-5">
        <button [style.margin-left.%]="mobileQuery.matches?25:0" [style.margin-top.%]="mobileQuery.matches?10:0" mat-raised-button (click)="postQuery()"><mat-icon>add_circle_outline</mat-icon></button>
        
      
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
          </div>
          <div class="pull-left meta">
            <div class="title h5">
              <a>
                <b>Sarbajit Biswas</b>
              </a>
              made a post.
            </div>
            <h6 class="text-muted time">1 minute ago</h6>
          </div>
        </div>
        <div class="post-description">
          <p>What season dose Humpty Dumpty hate the most?</p>
          <div class="stats">
            <button mat-icon-button style="color: rgba(3, 86, 109, 0.829)">
              <mat-icon>thumb_up</mat-icon>
              <span class="badge count rounded-circle">3</span>
            </button>
            <button mat-icon-button style="color: rgba(223, 32, 25, 0.829)">
              <mat-icon>thumb_down</mat-icon>
              <span class="badge count rounded-circle">1</span>
            </button>
            <button mat-icon-button style="color: rgba(0, 0, 0, 0.829)" data-toggle="collapse" data-target="#comments">
              <mat-icon>reply</mat-icon>
            </button>
            <button mat-icon-button style="color: rgba(0, 0, 0, 0.829)" data-toggle="collapse" data-target="#comments">
              <mat-icon>comment</mat-icon>
            </button>

          </div>

        </div>
        <div id="comments" class="collapse">
          <!-- COMMENTS -->
          <div class="col-sm-8 offset-md-2">
            <div class="panel panel-white post panel-shadow" style="margin-bottom: 10px">
              <div class="post-heading">
                <div class="pull-left image">
                  <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                  <div class="title h5">
                    <a>
                      <b>Sarbajit Biswas</b>
                    </a>

                  </div>
                  <h6 class="text-muted time">1 minute ago</h6>
                </div>
              </div>
              <div class="post-description">
                <p>Think man! Think!</p>
                <div class="stats">
                  <button mat-icon-button style="color: rgba(3, 86, 109, 0.829)">
                    <mat-icon aria-label="Example icon-button with a heart icon">thumb_up</mat-icon>
                  </button>
                  <button mat-icon-button style="color: rgba(223, 32, 25, 0.829)">
                    <mat-icon aria-label="Example icon-button with a heart icon">thumb_down</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================================= -->
        </div>
      </div>

    </div>

    <div class="col-sm-12">
      <div class="panel panel-white post panel-shadow">
        <div class="post-heading">
          <div class="pull-left image">
            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
          </div>
          <div class="pull-left meta">
            <div class="title h5">
              <a>
                <b>Shankhadeep Das</b>
              </a>
              made a post.
            </div>
            <h6 class="text-muted time">1 minute ago</h6>
          </div>
        </div>
        <div class="post-description">
          <p>Is it related to a king's assassination?</p>
          <div class="stats">
            <button mat-icon-button style="color: rgba(3, 86, 109, 0.829)">
              <mat-icon>thumb_up</mat-icon>
              <span class="badge count rounded-circle">3</span>
            </button>
            <button mat-icon-button style="color: rgba(223, 32, 25, 0.829)">
              <mat-icon>thumb_down</mat-icon>
              <span class="badge count rounded-circle">1</span>
            </button>
            <button mat-icon-button style="color: rgba(0, 0, 0, 0.829)" data-toggle="collapse" data-target="#comments">
              <mat-icon>reply</mat-icon>
            </button>
            <button mat-icon-button style="color: rgba(0, 0, 0, 0.829)" data-toggle="collapse" data-target="#comments1">
              <mat-icon>comment</mat-icon>
            </button>

          </div>

        </div>
        <div id="comments1" class="collapse">
          <!-- COMMENTS -->
          <div class="col-sm-8 offset-md-2">
            <div class="panel panel-white post panel-shadow" style="margin-bottom: 10px">
              <div class="post-heading">
                <div class="pull-left image">
                  <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                  <div class="title h5">
                    <a>
                      <b>Subham Sinha</b>
                    </a>

                  </div>
                  <h6 class="text-muted time">1 minute ago</h6>
                </div>
              </div>
              <div class="post-description">
                <p>I don't think so</p>
                <div class="stats">
                  <button mat-icon-button style="color: rgba(3, 86, 109, 0.829)">
                    <mat-icon aria-label="Example icon-button with a heart icon">thumb_up</mat-icon>
                  </button>
                  <button mat-icon-button style="color: rgba(223, 32, 25, 0.829)">
                    <mat-icon aria-label="Example icon-button with a heart icon">thumb_down</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================================= -->
          <!-- COMMENTS -->
          <div class="col-sm-8 offset-md-2">
            <div class="panel panel-white post panel-shadow" style="margin-bottom: 10px">
              <div class="post-heading">
                <div class="pull-left image">
                  <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                  <div class="title h5">
                    <a>
                      <b>Sarbajit Biswas</b>
                    </a>

                  </div>
                  <h6 class="text-muted time">1 minute ago</h6>
                </div>
              </div>
              <div class="post-description">
                <p>Might be</p>
                <div class="stats">
                  <button mat-icon-button style="color: rgba(3, 86, 109, 0.829)">
                    <mat-icon aria-label="Example icon-button with a heart icon">thumb_up</mat-icon>
                  </button>
                  <button mat-icon-button style="color: rgba(223, 32, 25, 0.829)">
                    <mat-icon aria-label="Example icon-button with a heart icon">thumb_down</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================================= -->
          <!-- COMMENTS -->
          <div class="col-sm-8 offset-md-2">
            <div class="panel panel-white post panel-shadow" style="margin-bottom: 10px">
              <div class="post-heading">
                <div class="pull-left image">
                  <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                  <div class="title h5">
                    <a>
                      <b>John Jacob</b>
                    </a>

                  </div>
                  <h6 class="text-muted time">1 minute ago</h6>
                </div>
              </div>
              <div class="post-description">
                <p>I don't think so</p>
                <div class="stats">
                  <button mat-icon-button style="color: rgba(3, 86, 109, 0.829)">
                    <mat-icon aria-label="Example icon-button with a heart icon">thumb_up</mat-icon>
                  </button>
                  <button mat-icon-button style="color: rgba(223, 32, 25, 0.829)">
                    <mat-icon aria-label="Example icon-button with a heart icon">thumb_down</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================================= -->
          <!-- COMMENTS -->
          <div class="col-sm-8 offset-md-2">
            <div class="panel panel-white post panel-shadow" style="margin-bottom: 10px">
              <div class="post-heading">
                <div class="pull-left image">
                  <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                  <div class="title h5">
                    <a>
                      <b>Sarbajit Biswas</b>
                    </a>

                  </div>
                  <h6 class="text-muted time">1 minute ago</h6>
                </div>
              </div>
              <div class="post-description">
                <p>I don't think so</p>
                <div class="stats">
                  <button mat-icon-button style="color: rgba(3, 86, 109, 0.829)">
                    <mat-icon aria-label="Example icon-button with a heart icon">thumb_up</mat-icon>
                  </button>
                  <button mat-icon-button style="color: rgba(223, 32, 25, 0.829)">
                    <mat-icon aria-label="Example icon-button with a heart icon">thumb_down</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================================= -->
        </div>
      </div>

    </div>


  </div>

</div>