<div class="row">
    <!-- <div class="col-md-2">

    </div> -->
    <div class="col-md-12" style="text-align: center">
        <mat-card class="animated flipInY">

            <form [formGroup]="answerForm" class="example-form">
                <mat-form-field class="input-full-width">
                    <input class="form-control" formControlName="answer" matInput placeholder="Answer">

                </mat-form-field>
                <button class="animated rubberBand" mat-icon-button matTooltip="submit" >
                    <mat-icon>done_all</mat-icon>
                </button>
                <button class="animated rubberBand" mat-icon-button matTooltip="google search" (click)="onSearch()" >
                    <mat-icon>search</mat-icon>
                </button>
                <button class="animated rubberBand" mat-icon-button matTooltip="answer history" (click)="onHistory()" >
                    <mat-icon>history</mat-icon>
                </button>
                
            </form>

        </mat-card>
    </div>
    <!-- <div class="col-md-2">

    </div> -->
</div>