
<div class="row" >
<div class="col-md-2">
    <button class="btn btn-success" (click)="success()">click</button>

</div>
<div class="col-md-8" style="background-color: aquamarine;text-align: center">
    <div  >
    <!-- Material input -->
    <!-- Material input -->
    <form class="example-form">
            <mat-form-field class="input-full-width">
              <input matInput placeholder="Favorite food" >
              
            </mat-form-field>
            <i class="material-icons">check_circle</i>
            <i class="material-icons"(click)="onHistory()">history</i>
          </form>
    </div>
</div>
<div class="col-md-2">
    side
</div>
</div>