<div class="row">
    <div class="col-md-2">
        
    </div>
    <div class="col-md-8" style="text-align: center">
        <mat-card class="animated flipInY">

            <form [formGroup]="answerForm" class="example-form">
                <mat-form-field class="input-full-width">
                    <input class="form-control" formControlName="answer" matInput placeholder="Answer" >

                </mat-form-field>

                <i class="material-icons" >done_all</i>
                <i class="material-icons" (click)="onSearch()">search</i>
                <i class="material-icons" (click)="onHistory()">history</i>
            </form>
          
        </mat-card>
    </div>
    <div class="col-md-2">
        
    </div>
</div>