
<nav class="navbar navbar-dark primary-color sticky-top navbar-expand-md">
  <div class="navbar-brand">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>

    </button>

    Elementary
  </div>
  <!-- Toggler -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <form class=" form-inline my-2 my-lg-0 ml-auto">
      <input style="width: 45%" class="form-control" type="search" placeholder="Search" aria-label="Search">
      
      <button mat-icon-button>
        <mat-icon style="color: aliceblue">search</mat-icon>

      </button>
      <button mat-icon-button (click)="generateNoti()">
        <mat-icon style="color: aliceblue">notifications</mat-icon>
        <span  *ngIf="notiCount>0"class="badge count rounded-circle">{{notiCount}}</span>
      </button>
      <button mat-icon-button (click)="bloghint.toggle()">
          <mat-icon style="color: aliceblue">lightbulb_outline</mat-icon>
  
        </button>
      <button mat-icon-button  [matMenuTriggerFor]="menu">
        <div mat-card-avatar class="example-header-image"></div>

      </button>



    </form>
  </div>
</nav>
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <mat-menu #menu="matMenu" >
    <button mat-menu-item>
     
    </button>
    <button mat-menu-item >
      <mat-icon>face</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>show_chart</mat-icon>
      <span>Analytics</span>
    </button>
    <button mat-menu-item>
        <mat-icon>insert_chart</mat-icon>
        <span>Leaderboard</span>
      </button>
  </mat-menu>
<!-- CONTAINER -->
<mat-sidenav-container style="height: 90%;width: 100%;overflow: hidden" class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">

  
    <mat-sidenav position="end"  [style.paddingTop.%]="mobileQuery.matches ? 12 : 0" [style.marginTop.%]="mobileQuery.matches ? 16 : 0" [style.width.%]="mobileQuery.matches ? 66 : 40" style="overflow: auto" #bloghint [mode]="mobileQuery.matches ? 'over' : 'over'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="0">

    <mat-nav-list>
      <app-hint-blog></app-hint-blog>
    </mat-nav-list>
  </mat-sidenav>
<!-- LEFT NAV COTAINER -->
  <mat-sidenav [style.marginTop.%]="mobileQuery.matches ? 16 : 0" [style.width.%]="mobileQuery.matches ? 66 : 40" style="overflow: hidden" #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
    [fixedInViewport]="mobileQuery.matches" fixedTopGap="0">

    <mat-nav-list>
      <app-leftsidenav></app-leftsidenav>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="height: 100%;width: 100%;overflow-x:hidden;background-image: url('/assets/wallpaper.jpg')">
   

    <div>
      <app-answerarea></app-answerarea>
    </div>


    <div >
      <app-imageclue></app-imageclue>
    </div>




  </mat-sidenav-content>

</mat-sidenav-container>



