
    <!-- <div class="jumbotron">
      <h1>Elementary</h1> 
      <p>Where it all starts</p> 
    </div>
    <button mat-fab>Login</button>
    <button mat-fab>Register</button> -->
    
<!--Carousel Wrapper-->
<div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <!-- First slide -->
        <div class="carousel-item active">
            <!--Mask color-->
            <div class="view">
                <!--Video source-->
                <video class="video-fluid" autoplay loop>
                    <source src="https://mdbootstrap.com/img/video/Lines.mp4" type="video/mp4" />
                </video>
                <div class="mask rgba-indigo-light"></div>
            </div>

            <!--Caption-->
            <div class="carousel-caption">
                <div class="animated fadeInDown">
                    <h3 class="h3-responsive"(click)="redir()">Click here </h3>
                    <p> </p>
                </div>
            </div>
            <!--Caption-->
        </div>
        <!-- /.First slide -->

       
    </div>
    
    
</div>
<!--Carousel Wrapper-->
                            
